<footer>
    <div class="flex-container hf-color text-light">
        <div class="text-center">
            <p>© Ramoj Mabilangan. All Rights Reserved.</p>
            <p><strong>Notice:</strong> Please respect other people's content, and use this platform responsibly.</p>
        </div>
    </div>
</footer>